folhadeestilo.css

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
}

.container-principal{
	display: flex;
	flex-direction: column;
	font-family: 'verdana'; 
	color: #777;
	width: 100%;
	align-items: center;
	justify-content: center;
}

/* definir as propriedades do topo */
header{
	display: flex;
	flex-direction: row;
	width: 100%; 
	height: 100px; 
	background-color: #fff; 
	align-items: center;
	justify-content: space-between;
}

/* definir as propriedades do logo */
.logo{
	display: flex;
	width: 25%; 
	height: 100%;
	align-items: center;
	justify-content: center;
}

.logo img{
	width: 90%; 
	margin-left: 10%;
}

/* definir as propriedades do menu */
nav {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	align-items: flex-end;
	justify-content: space-around;
}

nav ul {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	color: #fff;  
	list-style: none;
	align-items: center;
	justify-content: flex-end;
}

nav ul li {
	display: flex;
	flex-direction: column; 
	color: #fff; 
	width: 20%; 
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 1.5em; 
	font-family: 'verdana'; 
}

nav ul li a {
	display: flex;
	text-decoration: none;
	width: 100%;
	height: 100%; 
	color: #bbb;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav ul li a:hover, nav ul li a:active {
	color: #b13030;
}

/* definir as propriedades da imagem principal */
#banner{
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
}

#banner img{
	width: 100%; 
}

/* definir as propriedades dos pop'ups*/
.modalDialog{
	display: none;
	position: fixed;
	font-family: 'verdana';
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(181, 9, 9, 0.8);
	z-index: 9999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.modalDialog:target{
	display: flex;
	opacity: 1;
	pointer-events: auto;
}

.modalDialog div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	width: 40%;
	height: 90%;
	padding: 5px 20px 13px 20px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 10px;
	background-color: #fff;
	align-items: center;
	justify-content: center;
}

.modalDialog h1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.modalDialog p{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 5%;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

.modalDialog img{
	display: flex;
	flex-direction: row;
	width: 50%;
	align-items: center;
	justify-content: center;
}

.close{
	display: flex;
	flex-direction: column;
	background-color: #606061;
	color: #fff;
	position: absolute;
	right: -30px;
	text-align: center;
	top: -20px;
	width: 10%;
	height: 10%;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.close:hover{
	background-color: #b50909;
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%; 
	min-height: 18%; 
	align-items: center;
	justify-content: space-around;
	background-color: #b50909; 
	color: #fff; 
	font-family: 'verdana';
}

footer .footer-text{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 30%;
	margin: 1%;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

footer .footer-text a{
	color: #00FFFF;
}

footer .footer-text a:hover{
	color: #008080;
}

footer .footer-text a:active{
	color: #7FFFD4;
}


/* define a cor de fundo das páginas sobre, clientes e contato */
.color-page{
	background-color: #ddd;
}


/* definir as propriedades das imagens de título */
.img-titulo{
	display: flex;
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	align-items: center;
	justify-content: flex-start;
	overflow: none;
}

.img-titulo img{
	width: 20%;
}


/* definir as propriedades da página clientes*/
#clientes-code{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	gap: 15px;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}

#clientes-code .config-clientes{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 40vh;
	border: 1px solid #b50909;
	padding: 1%;
	margin-top: 30px;
	background-color: #fff;
	justify-content: center;
	align-items: center;
}

#clientes-code .config-clientes img{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-top: 10px;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
}

#clientes-code .config-clientes p{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	font-size: 1.2em;
	margin-bottom: 20px;
	text-align: justify;
	align-items: center;
	justify-content: center;
}

#clientes-code .config-clientes p a{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #111;
	align-items: center;
	justify-content: center;
	text-align: justify;
}


/* definir as propriedades da página sobre */
#container-sobre{
	display: flex;
	flex-direction: row;
	width: 60%;
	height: 80%;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}

#txt-sobre{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
	padding: 5%;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

#txt-sobre dl{
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: flex-start;
	justify-content: flex-start;
}

#img-conteudo-sobre{
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 2%;
	align-items: center;
	justify-content: center;
}

#img-conteudo-sobre img{
	width: 100%;
}


/* definir as propriedades da página contato */
#txt-contato{
	display: flex;
	flex-direction: row;
	flex: 1;
	gap: 20px;
	width: 100%;
	align-items: center;
	justify-content: center;	
	margin-bottom: 5%;
}

#txt-contato form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 35%;
	height: 80vh;
	background-color: #fff;
	padding: 2%;
	align-items: flex-start;
	justify-content: space-around;
}

#txt-contato form label{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	width: 100%;
	font-size: 1.3em;
	font-weight: bold;
	align-items: flex-end;
	justify-content: flex-start;
}

#txt-contato form input{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 1.6em;
	margin-bottom: 15px;
	border: solid #b50909 1px;
	border-radius: 12px;
	padding-left: 2%;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
}

#txt-contato form textarea{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 1.6em;
	margin-bottom: 15px;
	border: solid #b50909 1px;
	border-radius: 12px;
	padding-left: 2%;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
	min-height: 15vh;
}

#txt-contato form button{
	display: flex;
	flex-direction: column;
	width: 30%;
	height: auto;
	cursor: pointer;
	background-color: #b50909;
	color: #fff;
	font-size: 1.5em;
	padding: 15px 0 15px 0;
	margin-left: 35%;
	margin-top: 1%;
	border-radius: 20px;
	border: none;
	align-items: center;
	justify-content: center;
}

#txt-contato form button:hover{
	background-color: #e00606;
	color: #777;
	border-color: #777;
	animation: pulsa-botao 3s infinite;
}

#txt-contato form button:active{
	background-color: #ff0000;
	color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0px 7px 10px 5px #720303;
}

@keyframes pulsa-botao {
	0%{
		transform: scale(1);
		color: #777;
	}
	50%{
		transform: scale(1.1);
		color: #fff;
	}
	100%{
		transform: scale(1);
		color: #777;
	}
}

#txt-contato #conta-data{
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 80vh;
	padding: 2%;
	background-color: #b50909;
	color: #fff;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#txt-contato #conta-data h3{
	display: flex;
	flex-direction: row;
	color: #fff;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#txt-contato #conta-data h5{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 50px;
	margin-bottom: 4%;
	align-items: center;
	justify-content: center;
}

#txt-contato #conta-data h5 img{
	display: flex;
	flex-direction: row;
	width: 50px;
	height: auto;
	align-items: center;
	justify-content: center;
}


@media (max-width: 600px) {
	body{
		min-height: 100vh;
		max-width: 100vw;
	}

	header{
		height: 15vh; 
		position: relative;
	}
	
	/* definir as propriedades do logo */
	.logo{
		width: 40%; 
	}
	
	.logo img{
		margin-left: 0;
	}
	
	/* definir as propriedades do menu */
	nav {
		display: none;
		flex-direction: row;
		position: absolute;
		top: 100%;
		height: 40vh;
		width: 100%;
		margin: 0;
		align-items: center;
		justify-content: flex-start;
		background-color: #dddddd90;
		overflow-x: hidden;
		border: none;
		box-shadow: 0px 0px 25px 10px #bbb;
	}

	nav ul {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		width: 80%;
		height: 100%;
		padding: 0;
		gap: 5%;
		color: #fff;  
		list-style: none;
		align-items: flex-start;
		justify-content: space-around;
	}
	
	nav ul li {
		display: flex;
		flex-direction: column; 
		color: #fff; 
		width: 100%; 
		height: 20%;
		margin: 0;
		align-items: center;
		justify-content: center;
		font-size: 1.5em; 
		font-family: 'verdana'; 
		border-radius: 20px;
		border: none;
	}
	
	nav ul li a {
		padding-left: 20%;
		color: #777;
		align-items: center;
		justify-content: flex-start;
		border-radius: 20px;
	}
	
	nav ul li a:active {
		background-color: #ddd;
		box-shadow: 0px 0px 25px 10px #bbb;
	}
	
	.img-titulo{
		justify-content: center;
	}

	.img-titulo img{
		width: 70%;
	}
	

	.botao-menu-mobile{
		display: flex;
		flex-direction: row;
		width: 30%;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 1.8em;
		color: #777;
		background-color: transparent;
		border: none;
		border-radius: 20px;
	}
	
	.botao-menu-mobile:hover, .botao-menu-mobile:active{
		box-shadow: inset 0px 0px 25px 10px #bbb;
	}

	#banner{
		overflow-x: hidden;
	}
	
	#banner img{
		width: 120%;
		height: auto;
	}
	
	.modalDialog:target{
		display: flex;
		opacity: 1;
		pointer-events: auto;
		overflow-y: auto;
	}
	
	.modalDialog div{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;
		width: 80%;
		min-height: 60%;
		padding: 5px 20px 13px 20px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 10px;
		background-color: #fff;
		align-items: center;
		justify-content: center;
	}


	.modalDialog p{
		display: flex;
		flex-direction: row;
		width: 100%;
		margin-top: 2%;
		margin-bottom: 5%;
		font-size: 1.2em;
	}
	
	.modalDialog img{
		width: 60%;
	}
	
	.close{
		right: -20px;
		top: -20px;
		width: 60px;
		height: 60px;
		font-size: 1.5em;
	}
	
	.close:hover{
		background-color: #b50909;
	}
	
	footer{
		flex-direction: column;
		width: 100%; 
		padding-top: 5%;
		gap: 50px;
		justify-content: center;
	}
	
	footer .footer-text{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		align-items: center;
		justify-content: space-around;
	}

	footer .footer-text h3{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		align-items: center;
		justify-content: center;
		text-align: justify;
	}
	
	footer .footer-text p{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		padding: 5%;
		align-items: center;
		justify-content: center;
		text-align: justify;
		font-size: 1.3em;
	}

	footer .footer-text a{
		color: #00FFFF;
	}

	/* definir as propriedades da página clientes*/
	#clientes-code{
		flex-direction: column;
	}
	
	#clientes-code .config-clientes{
		width: 95%;
		height: 60vh;
	}
	
	#clientes-code .config-clientes img{
		width: 80%;
	}
	
	#clientes-code .config-clientes p{
		font-size: 1.4em;
	}

	#txt-contato{
		flex-direction: column;
		max-width: 100%;
		min-height: 100vh;
		gap: 15px;
	}
	
	#txt-contato form{
		display: flex;
		flex-direction: column;
		width: 95%;
		height: 100vh;
		margin: 0;
		padding: 20px 10px;
		align-items: center;
		justify-content: center;
		text-align: left;
	}
	
	#txt-contato form label{
		margin: 0;
		margin-top: 5%;
		margin-bottom: 10px;
		padding-left: 10px;
		height: auto;
		font-size: 1.6em;
		align-items: flex-end;
		justify-content: flex-start;
	}
	
	#txt-contato form input{
		display: flex;
		flex-direction: row;
		width: 95%;
		height: 1.8em;
		margin: 0;
		margin-bottom: 5%;
		border: solid #b50909 1px;
		border-radius: 12px;
		padding-left: 10px;
		align-items: center;
		justify-content: center;
		font-size: 1.6em;
	}
	
	#txt-contato form textarea{
		display: flex;
		flex-direction: row;
		width: 95%;
		height: 1.6em;
		margin: 0;
		margin-bottom: 15px;
		border: solid #b50909 1px;
		border-radius: 12px;
		padding-left: 10px;
		align-items: center;
		justify-content: center;
		font-size: 1.6em;
		min-height: 15vh;
	}
	
	#txt-contato form button{
		width: 50%;
		height: 10vh;
		font-size: 1.8em;
		font-weight: bold;
		margin: 0;
		margin-top: 5%;
		border-radius: 25px;
		animation: pulsa-botao 3s infinite;
	}
	
	#txt-contato form button:hover{
		background-color: #e00606;
		color: #777;
		border-color: #777;
		animation: pulsa-botao 3s infinite;
	}
	
	#txt-contato form button:active{
		background-color: #ff0000;
		color: #ffffff;
		border-color: #ffffff;
		box-shadow: 0px 7px 10px 5px #720303;
	}	
	
	#txt-contato #conta-data{
		width: 95%;
		height: 100vh;
	}
	
	#txt-contato #conta-data h3{
		margin-bottom: 10%;
		font-size: 1.6em;
	}
	
	#txt-contato #conta-data h5{
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 50px;
		margin-top: 5%;
		margin-bottom: 10%;
		font-size: 1.2em;
	}
	
	#txt-contato #conta-data h5 img{
		display: flex;
		flex-direction: row;
		width: 20%;
		height: auto;
		align-items: center;
		justify-content: center;
	}
	

	#container-sobre{
		flex-direction: row;
		flex-wrap: wrap;
		width: 95%;
		min-height: 100vh;
	}
	
	#txt-sobre{
		flex-wrap: wrap;
		width: 100%;
		font-size: 1.4em;
	}
	
	#txt-sobre dl{
		width: 100%;
	}
	
	#img-conteudo-sobre{
		position: relative;
		width: 100%;
		padding: 2%;
	}
	
	#img-conteudo-sobre img{
		width: 100%;
		border-radius: 20px;
	}
	
	
}